header {
    position: absolute;
    width: 100%;
    height: 100vh;
    inset: 0;
    margin-top: 120px;
}

header .header-background {
    width: 100%;
    height: 47vh;
    background-image: url('../../../images/jpg/Header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    color: beige;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header .header-background .grandient {
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 100%;
    background-image: url('../../../images/jpg/35\ 3.png');
    opacity: 0.4;
    inset: 0;
}

.heading-text {
    position: relative;
    z-index: 10;
    color: #fff;
    margin-top: -50px;

    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 68px;
    /* identical to box height */

    letter-spacing: 0.01em;
}

/* Search bar component */

.searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    margin: 0 auto;
    padding: 5px 20px;
    transform: translate(0%, -50%);
    width: 65vw;
    height: 120px;
}

.width {
    max-width: 98% !important;
    width: 350px;
}

.MuiSelect-outlined.MuiSelect-outlined {
    padding: 15px 7px;
    max-width: 100% !important;
    width: 150px;
    background: #EDEDED !important;
}

@media only screen and (max-width: 1205px) {
    .heading-text {font-size: 45px; }
}

@media only screen and (max-width: 969px) {
    .heading-text {font-size: 30px; }
}

@media only screen and (max-width: 859px) {
    .selectHeader {display: none !important;}
}

@media only screen and (max-width: 665px) {
    .heading-text {
        font-size: 20px;
        line-height: 35px;
        margin: auto 15px;
    }
    .searchbar {height: 80px !important;}
    .width {width: 200px; padding: 7px 3px !important;}
    .headerBtn {padding: 9px 3px !important;width: 100px;text-align: center;}
}

@media only screen and (max-width: 430px) {
    .headerBtn {width: auto;}
}

@media only screen and (max-width: 320px) {
    .searchbar {height: 60px !important;}
    .width {width: 140px; padding: 7px 3px !important;}
    .headerBtn {padding: 9px 3px !important;}}

@media only screen and (max-width: 298px) {
    .heading-text {
        line-height: 18px;
        font-size: 15px;
        word-wrap: break-word;}
}
